:root {
    --eikona-color-border: #FFF;
    --eikona-color-background: #333;
    --eikona-color-text-background: #33333377;
    --eikona-color-font: #FFF;
}

.eikona-gallery-container {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: space-evenly;
}

.eikona-gallery-image {
    width: 40%;
    height: 25vw;
    margin-bottom: 17px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.eikona-gallery-image:hover .eikona-gallery-text {
    opacity: 1;
}

.eikona-gallery-text {
    margin-top: auto;
    padding: 7px;
    opacity: 0;
    background-color: var(--eikona-color-text-background);
    color: var(--eikona-color-font);
    text-align: center;
    transition: opacity .5s ease;
}


/* Popup */
.eikona-popup-outer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: var(--eikona-color-background);
}

.eikona-popup-inner {
    z-index: 9997;
}

.eikona-popup-images {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9998;
}

.eikona-popup-buttons {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.eikona-popup-btn-previous,
.eikona-popup-btn-next,
.eikona-popup-btn-close {
    width: 7vh;
    height: 7vh;
    margin: 46.5vh 0;
    position: absolute;
    background-color: var(--eikona-color-text-background);
    border-radius: 7vh;
    cursor: pointer;
    line-height: 7vh;
    text-align: center;
    font-size: 36pt;
    color: var(--eikona-color-font);
    border: 2pt solid var(--eikona-color-border);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.eikona-popup-btn-previous {
    left: 3vh;
}

.eikona-popup-btn-next {
    right: 3vh;
}

.eikona-popup-btn-close {
    margin: 3vh auto;
    right: 3vh;
}